@tailwind base;
@tailwind components;
@tailwind utilities;

/* Mettre ici les styles "globaux" */

@layer base {

    span {
      @apply text-red-600 ;
    }



  }

  @layer base {

    .textresponsive {
      @apply sm:text-base md:text-lg lg:text-xl xl:text-2xl ;

    
       
    }
    .textpadding{
        @apply pr-10 pl-10 md:pr-20 md:pl-20 lg:pl-44 lg:pr-44 xl:pr-72 xl:pl-72;
    }
  };
@layer utilities{
  .effet-shadowblanc{
    text-shadow:#fff 0px 0px 20px;
  }
}
:root {
  --couleur-text: #ffffff;
  --couleur-fond: #1C1917;
}


@media (prefers-color-scheme: light) {
  :root {
      --couleur-text: rgb(0,0,0);
      --couleur-fond: (#6f6a65);
      
  }
}
